---
import Banner from "../../Banner.astro";
import SectionCard from "./CardSection.astro";


---
	<div class="w-full min-h-[720px] flex flex-wrap justify-between">
		<Banner />
		<SectionCard />	
	</div>	