---
---

<section class="w-full pt-4">
  <div class="w-10/12 grid grid-flow-col-dense place-content-between gap-4 ">
    <div class="px-10 pb-2">
      <span class="text-sm text-slate-700">Desarrollador Web</span>
      <div class="grid grid-cols-1 gap-4">
        <h1 class="text-4xl font-semibold">Erick Rashón</h1>
        <p class="w-11/12 text-pretty antialiased">
        Fusce tempor magna mi, non egestas velit ultricies nec. Aenean convallis, risus non condimentum gravida, odio mauris ullamcorper felis, ut venenatis purus ex eu mi. Quisque imperdiet lacinia urna, a placerat sapien.
        </p>
        <div>
          <button class="bg-sky-700 text-white px-2.5 py-1.5 rounded hover:bg-sky-600 hover:text-white active:scale-95 transition-all">Download CV</button>
        </div>
        <div>
          <button class="border border-sky-600 text-sky-700 px-2.5 py-1.5 rounded hover:bg-sky-600 hover:text-white active:scale-95 transition-all">Download CV</button>
        </div>
      </div>
    </div>
    <div class="flex justify-end items-center text-center ">
      <img src="https://www.placeholder.co/360x360" class="object-cover w-full h-auto" />
    </div>
  </div>
</section>