---
// ExperienceTitle.astro
---
<div class="w-full px-10 pt-10">
  <h1 class="text-4xl font-semibold antialiased capitalize">experiencia</h1>
  <span class="text-slate-400">3 años de experiencia</span>
</div>
