---

---

<aside class="w-full">
  <section class="w-full flex flex-col justify-evenly items-center gap-10 p-4">
    <div class="grid grid-cols-1 text-center">
      <img src="https://placeholder.co/150x150" class="object-cover rounded-full w-36 my-2.5"/>
      <p class="text-2xl font-semibold antialiased mt-1.5">Erick Rashón</p>
      <span class="text-md mt-1.5">Desarrollador Web</span>
    </div>
    <div class="w-52 flex justify-around items-center mx-auto rounded-full border py-1.5 bg-white/30 shadow">
        <div class="bg-sky-100 rounded-full w-10 h-10 text-center inline-flex justify-center items-center"><span class="font-semibold">
        <img src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png" loading="lazy" />
        </span></div>
        <div class="bg-sky-100 rounded-full w-10 h-10 text-center inline-flex justify-center items-center"><span class="font-semibold">
        <img src="https://cdn-icons-png.flaticon.com/512/145/145807.png" loading="lazy" />
        </span></div>
        <div class="bg-sky-100 rounded-full w-10 h-10 text-center inline-flex justify-center items-center"><span class="font-semibold">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" loading="lazy"/>
        </span></div>
    </div>
    <div class="w-full flex flex-col justify-center items-center gap-4">
      <a class="mailto:ergonzalez209@gmail.com"><span class="font-semibold text-lg">ergonzalez209@gmail.com</span></a>
      <span>ergonzalez209@gmail.com</span>
    </div>
    <div class="w-full flex flex-col justify-center items-center gap-4">
      <button class="px-4 py-2.5 border outline-none font-semibold text-lg bg-sky-700/75 text-white rounded shadow hover:bg-sky-600 hover:text-white active:scale-95 focus:outline-sky-600 transition-all">Download CV</button>
    </div>
  </section>
</aside>